* {
  padding: 0%;
  margin: 0%;
  text-align: center;
  scroll-behavior: smooth;
}
.navbar {
  /* background-color:#0f1111; */
  /* background-color: #e0e1dd; */
  background-color: rgb(250, 251, 253);
  overflow: hidden;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  top: -1px;
  align-items: center;
}
.navbar a {
  font-size: 20px;
  /* color: brown; */
  color: rgba(0, 85, 164, 1);
  font-family: cursive;
  /* margin-right: 80px; */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ffeedd;
  color: black;
  border-radius: 10px;
}
#LOGO {
  font-size: 25px;
  /* margin-left: 5px; */
}
body {
    background-color: #f8f7ff;
    width: 100%;
    background-image: url("images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  
}
h1 {
  margin-top: 70px;
  background-color: rgb(250, 251, 253);
}
a {
  text-decoration: none;
}
button {
  height: 300px;
  width: 400px;
  font: bold;
  font-size: 50px;
  margin: 100px 30px;
  border: 1px solid black;
  border-radius: 10%;
  /* background-color: #ffd8be; */
  background-color:#bde0fe;
}
button:hover {
  /* background-color: #ffeedd; */
  background-color:#a2d2ff;
  color: rgb(40, 40, 122);
  
  /* width: 450px;
  height: 450px; */
  font-size: 65px;
  border: 1px solid black;
  border-radius: 10%;
  /* transform: scale(1.1); */
  transition: 0.5s;
  opacity: 1;

  /* transition: all 0.5s ease-in 0.5s; */
}
/* @media (width: 100%) and (min-width: 100px) {
  button {
    width: 400px;
    height: 400px;
  }
} */
/* div {
  height: 100px;
  width: 150px;
  text-align: center;
  display: inline-block;
  padding-top: 30px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  border: 2px solid black;
  border-radius: 20px;
}
#box1 {
  background-color: aquamarine;
  cursor: pointer;
}
#box2 {
  background-color: bisque;
  top: 55px;
  left: -15px;
  cursor: pointer;
}
#box3 {
  background-color: orange;
  top: 120px;
  left: -30px;
  cursor: pointer;
}
#box4 {
  background-color: khaki;
  top: 200px;
  left: -50px;
  cursor: pointer;
} */
