/* Basic CSS styling */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
h2 {
  /* margin-top: 30px; */
  text-align: center;
  color: black;
  /* max-width: 100%; */
  font-family: cursive;
}
H2:hover {
  color: aqua;
  transition: all 0.2s ease-in-out 0.3ms;
}
.navbar {
  background-color: #0f1111;
  overflow: hidden;
  position: sticky;
  top: -1px;
  align-items: center;
  /* max-width: 100%; */
}
.navbar a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: red;
  border-radius: 10px;
}
.button-container {
  text-align: center;
  /* margin-top: 50px; */
  height: 800px;
  /* display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: center; */
}
.button {
  display: inline-block;
  width: 500px;
  height: 200px;
  margin: 0px 50px 50px 10px;
  background-color: #4caf50;
  color: white;
  font-size: 26px;
  font-family: cursive;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
#id1 {
  margin-top: 100px;
}

.button:hover {
  color: black;
  background-color: #dde5b6;
  /* width: 550px;
  height: 250px; */
  font-size: 30px;
  /* transition: all 0.5s ease-in 0.5s; */
  transform: scale(1.1);
  transition: 0.5s;
  opacity: 1;
}
#LOGO {
  font-size: 25px;
}

#position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
